
/* Layout with a sidebar navigation */
.container {
  display: flex;
}

/* Sidebar navigation styles */
.sidebar {
  flex: 0 0 100px; /* sidebar width */
  background-color: #D2E2CF; /* light grey background */
  padding: 20px;
  height: 100vh; /* Full height */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

/* Styles for sidebar links */
.sidebar a {
  display: block;
  padding: 10px;
  margin: 5px 0;
  color: #19386b; /* blue color */
  text-decoration: none;
}

/* Change link color on hover */
.sidebar a:hover {
  background-color: #AABDA9; /* light grey color on hover */
  border-radius: 4px;
}

/* Main content area */
.content {
  flex-grow: 1;
  padding: 20px;
}

